.footerMain {
margin-top: 100px;
padding-left: 100px;
 background-color: rgb(50,50,50);
 height: 300px;
 display: flex;
}

.ulli{
    width: 20%;
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: rgb(200,200,200);
}